6c[Desktop Entry]
Encoding=UTF-8
Name=LinuxUpdate
Comment=PLD automatic update notification and upgrade wizard
Comment[pl]=Program powiadamiający o aktualizacjach w PLD
Exec=LinuxUpdate
Icon=LinuxUpdate-logo
Terminal=false
Type=Application
Categories=GTK;System;
# vi: encoding=utf-8
